
p{
    margin-left: 20px;
}


button{
    padding: 10px;
    background-color:rgb(192, 250, 255);
    border: none;
    margin: 10px 20px;
    a{
        text-decoration: none;
        color: rgb(95, 167, 229);
    }
    border-radius: 5px ;
}

img{
    position: absolute;
    z-index: -1;
    width: 100%;
    
}

